<header class="header">
    <h1>Mapa Web - WatchWise</h1>
</header>

<main class="main">
    <section class="section">
        <h2>Landing</h2>
        <a class="correo-accesibilidad" [routerLink]="'/'">Pagina Landing</a>
    </section>

    <section class="section">
        <h2 class="h2">Registro e inicio de sesión</h2>
        <a class="correo-accesibilidad" [routerLink]="'/register'">Registro</a><br>
        <a class="correo-accesibilidad" [routerLink]="'/login'">Inicio de sesión</a>
    </section>

    <section class="section">
        <h2 class="h2">Servicios</h2>
        <a class="correo-accesibilidad" [routerLink]="'/pricing'">Ofertas</a>
    </section>

    <section class="section">
        <h2 class="h2">Contenido Multimedia</h2>
        <a class="correo-accesibilidad" [routerLink]="'/home'">Página principal</a>
    </section>
</main>