<section class="mid-section">
    <div class="contenedor-formularios" id="formLogReg">
        <!-- Iniciar sesion-->
        <div id="form-inicio-sesion">
            <h2>Iniciar Sesión</h2>
            <form action="home.html">
                <div class="contenedor-input">
                    <label>
                        Usuario <span class="req">*</span>
                    </label>
                    <input type="text" required>
                </div>

                <div class="contenedor-input">
                    <label>
                        Contraseña <span class="req">*</span>
                    </label>
                    <input type="password" required>
                </div>
                <p class="forgot"><a href="#">Olvidé mi contraseña</a></p>
                <input type="submit" class="button button-block" value="Iniciar Sesión" id="validatedLogin">
            </form>
        </div>
    </div>
</section>