<section class="mid-section">
    <div class="contenedor-formularios" id="formLogReg">
        <!-- Registrarse -->
        <div id="form-registro">
            <h2>Registrarse</h2>
            <form action="home.html">
                
                <div class="contenedor-input">
                    <label>
                        Nombre <span class="req">*</span>
                    </label>
                    <input type="text" required>
                </div>

                <div class="contenedor-input">
                    <label>
                        Apellido <span class="req">*</span>
                    </label>
                    <input type="text" required>
                </div>
            
                <div class="contenedor-input">
                    <label>
                        Usuario <span class="req">*</span>
                    </label>
                    <input type="text" required>
                </div>

                <div class="fila-arriba"> 
                    <div class="contenedor-input">
                        <label>
                            Tarjeta <span class="req">*</span>
                        </label>
                        <input type="number" required>
                    </div>
                    <div class="contenedor-input">
                        <label>
                            CVV <span class="req">*</span>
                        </label>
                        <input type="number" required>
                    </div>
                </div>
                <div class="contenedor-input">
                    <label>
                        Fecha validez <span class="req">*</span>
                    </label>
                    <input type="date" required>
                </div>

                <div class="contenedor-input">
                    <label>
                        Email <span class="req">*</span>
                    </label>
                    <input type="email" required>
                </div>

                <div class="contenedor-input">
                    <label>
                        Contraseña <span class="req">*</span>
                    </label>
                    <input type="password" required>
                </div>

                <div class="contenedor-input">
                    <label>
                        Repetir Contraseña <span class="req">*</span>
                    </label>
                    <input type="password" required>
                </div>

                <input type="submit" class="button button-block" value="Registrarse" id="validatedRegister">
            </form>
        </div>
    </div>
</section>