<div id="tabla-precios">
    <div class="precio-col" *ngFor="let suscripcion of suscripciones">
      <div class="precio-col-header">
        <h3>{{ suscripcion.nombre }}</h3>
        <p *ngIf="suscripcion.precio_mensual">Equivale a {{ suscripcion.precio_mensual }}€ mensuales</p>
      </div>
  
      <div class="precio-col-features">
        <p *ngIf="suscripcion.descripcion">{{ suscripcion.descripcion }}</p>
        <ul *ngIf="suscripcion.caracteristicas">
          <li *ngFor="let caracteristica of suscripcion.caracteristicas">{{ caracteristica }}</li>
        </ul>
      </div>
  
      <div class="precio-col-comprar">
        <button (click)="subscribeToSuscripcion(suscripcion.id)">{{ suscripcion.precio }}€</button>
      </div>
    </div>
  </div>
  