<div id="tabla-precios">

    <div class="precio-col">
        <div class="precio-col-header">
            <h3>Suscripción de 1 mes</h3>
            <p>Equivale a 12,50€ mensuales</p>
        </div>
    
        <div class="precio-col-features">
            <p>Acceso al catálogo entero de Watchwise</p>
            <p>Calidad hasta 1920x1080p</p>
            <p>Hasta 2 usuarios</p>
        </div>
    
        <div class="precio-col-comprar">
            <a href="register.html">12,50€</a>
        </div>
    </div>
    
    <div class="precio-col">
        <div class="precio-col-header">
            <h3>Suscripción de 3 meses</h3>
            <p>Equivale a 11€ mensuales</p>
        </div>
    
        <div class="precio-col-features">
            <p>Acceso al catálogo entero de Watchwise</p>
            <p>Calidad hasta 2560x1440p</p>
            <p>Hasta 4 usuarios</p>
        </div>
    
        <div class="precio-col-comprar">
            <a href="register.html">33€</a>
        </div>
    </div>

    <div class="precio-col">
        <div class="precio-col-header">
            <h3>suscripción 1 año</h3>
            <p>Equivale a 9,16€ mensuales</p>
        </div>
    
        <div class="precio-col-features">
            <p>Acceso al catálogo entero de Watchwise</p>
            <p>Calidad hasta 3840x2160p</p>
            <p>Hasta 6 usuarios</p>
        </div>
    
        <div class="precio-col-comprar">
            <a href="register.html">110€</a>
        </div>
    </div>
</div>