<!-- src/app/home/home.component.html -->
<section class="mid-section">
    <h3 class="separador">Películas más populares</h3>
    <div style="flex-direction: row;">
      <a *ngFor="let movie of popularMovies" [routerLink]="['/movie', movie.id]" class="pelicula">
        <img [src]="'assets/images/' + movie.imagen" />
      </a>
    </div>
  
    <h3 class="separador">Podrían interesarte</h3>
    <div style="flex-direction: row;">
      <a *ngFor="let movie of recommendedMovies" [routerLink]="['/movie', movie.id]" class="pelicula">
        <img [src]="'assets/images/' + movie.imagen" />
      </a>
    </div>
  
    <h3 class="separador">Películas que has visto:</h3>
    <div style="flex-direction: row;">
      <a href="#" class="pelicula">
        <img src="assets/images/imgs_1/photo_9.jpg"/>
      </a>
      <a href="#" class="pelicula">
        <img src="assets/images/imgs_2/photo_9.jpg"/>
      </a>
    </div>
  </section>
  