<header class="header">
    <h1>Declaración de Accesibilidad - WatchWise</h1>
</header>

<main class="main">
    <section class="section">
        <h2 class="h2">Nuestro Compromiso</h2>
        <p>En WatchWise, nos esforzamos por proporcionar a todos nuestros usuarios una experiencia accesible y equitativa.</p>
    </section>

    <section class="section">
        <h2 class="h2">Qué Estamos Haciendo</h2>
        <p>Estamos implementando medidas específicas para mejorar la accesibilidad de nuestro sitio web, incluyendo:</p>
        <ul>
            <li>Uso de HTML semántico para una estructura clara y comprensible.</li>
            <li>Garantía de contraste adecuado para facilitar la legibilidad.</li>
            <li>Compatibilidad con lectores de pantalla y otras tecnologías de asistencia.</li>
            <li>Pruebas regulares con usuarios con discapacidades para identificar y abordar problemas.</li>
            <li>Capacitación continua de nuestro equipo en prácticas de diseño y desarrollo accesibles.</li>
        </ul>
    </section>

    <section class="section">
        <h2 class="h2">Navegación</h2>
        <p>Hemos diseñado la navegación de nuestro sitio de manera que sea clara y fácil de seguir. Utilizamos etiquetas de encabezado apropiadas y proporcionamos un menú de navegación consistente en todas las páginas.</p>
    </section>

    <section class="section">
        <h2 class="h2">Contenido Multimedia</h2>
        <p>Todos los elementos multimedia, como imágenes y videos, están acompañados de descripciones textuales significativas para garantizar que la información sea accesible para todos los usuarios, independientemente de sus habilidades visuales o auditivas.</p>
    </section>

    <section class="section">
        <h2 class="h2">Formularios</h2>
        <p>Nuestros formularios están diseñados para ser accesibles y fáciles de completar. Proporcionamos etiquetas adecuadas y descripciones claras para cada campo, y garantizamos que sean navegables y utilizables con un teclado.</p>
    </section>

    <section class="section">
        <h2 class="h2">Feedback</h2>
        <p>Valoramos los comentarios de nuestros usuarios. Si encuentra alguna barrera de accesibilidad en nuestro sitio, le animamos a que nos lo haga saber enviándonos un correo electrónico a <a class="correo-accesibilidad" href="mailto:accesibilidad@watchwise.com">accesibilidad&#64;watchwise.com</a>.</p>
    </section>
</main>