 /* Estilo global */
:root{
    color-scheme: light dark;
}

/* Body  */
html, body {
    height: 100%;  /* Importante para que el height del body sea el 100% de la pantalla */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Hace que el footer se mueva hacia abajo */
    padding-top: 70px; /* Ajusta según la altura de tu navbar */
    padding-bottom: 50px; /* Ajusta según la altura de tu footer */
    background-color: #1A181B;
}

main {
    flex: 1 0 auto; /* Permite que el main ocupe el espacio necesario y empuje el footer hacia abajo */
}

footer {
    flex-shrink: 0; /* Asegura que el footer no se reduzca */
}

 
h3{
   color: whitesmoke;
   font-family: Nunito sans;
}


h4{
   color: whitesmoke;
   font-family: Nunito sans;
}


.p{
   color: whitesmoke;
   font-family: Nunito sans;
   size: 15px;
}

/*  FOTO GRID  */
.mid-section{
   margin-top: 50px;
   margin-bottom: 50px;
   margin-left: 25px;
}


.photo-section{
   flex: 60%;
}


.form-section{
   flex: 30%;
   margin-right: 100px;
}
#photo-container {
   flex-wrap: wrap;
}

.column {
   flex: 25%;
   max-width: 25%;
   padding: 0 4px;
}
 
.column .photo {
   margin-top: 8px;
   vertical-align: middle;
}

.column .photo img{
   width: 30%;
   height: auto;
   border-radius: 4px;
}


#photo-container .photo:hover .title{
   opacity: 1;
   
}

.buton-princ {
   border: none;
   outline: none;
   border-radius: 5px;
   cursor: pointer;
   padding: 15px 15px;
   font-size: 1rem;
   background: #FCA311;
   color: #000000;
   margin: 15px 15px;
}
.buton-princ:hover, .button:focus {
   background: #dd9a2d;
}



@media screen and (max-width: 1000px) {
   .row{
       flex-direction: column;
   }
   .photo-section{
       display: flex;
       align-content: center;
       justify-content: center;
   }
}


@media only screen and (max-width: 600px) {
   .column {
       flex: 100%;
       max-width: 100%;
   }
}

@media only screen and (min-width: 600px) {
   .column {
       flex: 50%;
       max-width: 100%;
   }
}

@media only screen and (min-width: 768px) {
   .column {
       flex: 33.33%;
       max-width: 100%;
   }
}

@media only screen and (min-width: 992px) {
   .column {
       flex: 25%;
       max-width: 100%;
   }
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1500px) {

}


 