<!-- Formularios -->
<section class="mid-section">
    <div class="row">
        <div class="photo-section">
            <section id="photo-container" #photoContainer></section>
        </div>
        <!--FORM START-->
        <div class="form-section">
            <div>
                <h3>¡Bienvenido a WatchWise: Tu Destino Cinematográfico!</h3>
                <p class="p">
                    <br>
                    En WatchWise, te invitamos a sumergirte en un mundo lleno de emociones, historias cautivadoras y
                    entretenimiento sin límites. <br>
                    Nuestra plataforma de transmisión de video está diseñada pensando en ti, amante del cine, para
                    ofrecerte una experiencia cinematográfica única.
                </p>
                <div style="display: flex; flex-direction: column;" id="botonesReg">
                    <h4>¿No has probado WatchWise?</h4>
                    <button class="buton-princ" (click)="navigateTo('precios.html')">Prueba 14 días gratis</button>

                    <h4>¿Ya tienes cuenta?</h4>
                    <button class="buton-princ" (click)="navigateTo('login.html')">Login</button>
                </div>
            </div>
        </div>
    </div>
</section>
